img {
    vertical-align: middle;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.fr {
    float: right !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.form-multiple-input {
    .el-input {
        width: auto;
    }
}
